/* Fichier CSS Réservia Projet 2 - OpenClassrooms */
body{
    margin: auto;
    font-family: Raleway; 
}

@import url('//fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.firstHeader{
    display: grid;
    grid-template-columns:repeat(4 / auto);
    align-items: center;
    max-width: 1440px;
    margin: auto;
}

.logoReservia{
    grid-column: 1;
}

.firstNavHeader{
    grid-column: 3;
    align-self: end;
    display: flex;
    justify-content: flex-end;
}

.hrefNavHeader{
    padding: 25px;
    text-decoration: none;
    color: rgb(36, 36, 36);
    display: flex;
    align-items: center;
}

.hrefNavHeader:hover{
    border-top: 3px solid;
    border-color: #0065FC;
    color: #0065FC;
    padding: 22px;
    font-weight: bold;
    cursor: pointer;
}

.signUp{
    grid-column: 4;
    padding: 25px;
    font-weight: bold;
    text-decoration: none;
    color: #0065FC;
}
@media screen and (max-width:1024px){
    .firstHeader{
        max-width:1024px;
        margin: auto;
        margin-left: 15px;
        display:grid;
        grid-template-rows: (3, 1fr);
    }
}
@media screen and (max-width:700px){
    .firstHeader{
        display:grid;
        grid-template-rows: (3, 1fr);
    }
    .logoReservia{
        order: 0;
        width:auto;
        margin: 0px;
    } 
    .signUp{
        order: 1;
        width:auto;
    }
    .firstNavHeader{
        width:365px;
        display:grid;
        display:flex;
        order: 2;
        grid-column: 1 /6;
        justify-content: space-evenly;
    }
    .hrefNavHeader{
        border-bottom: 3px solid #F2F2F2;
    }

    .hrefNavHeader:hover{
        border-bottom: 3px solid;
        border-color: #0065FC;
        color: #0065FC;
        border-top: none;
    }
}


main{
    max-width: 1440px;
    margin: auto;
    margin-bottom: 50px;
    box-sizing: border-box;
}

.search{
    max-width:1440px;
    margin: auto;
}

.searchForm {
    display: inline-flex;
    max-width: 100%;
    overflow: auto;
  }

.searchFormWrapicon {
    background-color: #F2F2F2;
    padding: 1rem 1.25rem;
    border-radius: 1rem 0 0 1rem;
    text-align: center;
  }

.searchFormWrapiconIcon {
    margin-left: 0.1rem;
  }

.searchFormSearchinput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 14rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
  }

.searchFormSearchinput::placeholder {
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    color: #00000069;
  }

.searchFormSubmitinput {
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 1rem 1rem 0;
    padding: 0 1.5rem;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
    cursor: pointer;
  }

  ul {
    margin-block-start: 0px;
    margin: 0px;
  }
    

.filtres{
    display: flex;
    justify-content:flex-start;
    margin-top:3rem;
}

.titlefiltres{
    margin-right: 2rem;
}

.filtre{
    display: flex;
    flex-direction:row;
    align-items: center;
    margin-right: 2rem;
    border-left: none;
    border: 2px solid #d9d9d9;
    border-radius: 2rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition-duration: 0.1s;
    font-weight: bold;
}

.filtre:hover {
    background-color: #f3f8ff;
    transform: scale(1.015);
  }
.filtre-i{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 15px;
    border-radius: 50%;
    padding-right: 35px;
    padding-top: 20px;
    padding-bottom:20px;
    background-color:#DEEBFF;
    color: #0065FC;
}
.p-filtres{
    margin-right: 20px;
}

/* Section responsive search elements */
@media screen and (max-width: 1024px) {
    .firstHeader{
        max-width: 700px;
        margin-left:15px;
        margin: auto;
    }
    main{
        max-width:700px;
        margin: auto auto 50px;
    }
    .search{
        margin: auto;
        max-width:100%;
    }
    .header-titre-principal{
        margin-left: 15px;
        margin-right: 35px;
    }
    .searchForm{
        margin-left: 15px;
        margin-right: 35px;
    }
    .filtres{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }
  }
@media screen and (max-width: 650px) {
    .firstHeader{
        max-width:360px;
        margin-left: 15px;
        margin: auto;
    }
    main{
        max-width:375px;
        margin: auto auto 50px;
    }
    .search{
        margin: 15px;
        max-width:365px;
    }
    .header-titre-principal{
        margin-left: 15px;
        margin-right: 35px;
    }
    .searchForm{
        margin-left: 15px;
        margin-right: 15px;
    }
    .filtres{
        display: flex;
        flex-direction:column;
        align-items: flex-start;
    }
    .firstNavHeader{
        width:auto;
    }
  }



.informations{
    display: flex;
    flex-direction: row;
    margin: 15px;
}

.logo-informations{
    height: 20px;
    text-align: center;
    width: 15px;
    border-style: solid;
    border-color: #F2F2F2;
    border-radius: 50px;
    padding-right: 2px;
    padding-left: 2px;
    margin-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-i{
    margin-top: auto;
    margin-bottom: auto;
}

.text-informations{
    font-size: 14px;
}

.fas.blueStars{
    color: #0065FC;
}

.greyStars{
    color: #F2F2F2;
}


/* Hébergement Marseille */
.hostingLink{
    text-decoration: none;
    color: black;
}

.hostingSection{
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 50px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 70px;
}

.gridOne{
    grid-column: 1 / 4;
    grid-row: 1;
}

.gridTwo{
  grid-column: 4 / -1;
  grid-row: 1;
}

.block1HostingMarseille{
    display: flex;
    flex-direction:column;
    border-radius: 15px;
    background-color: #F2F2F2;
}

.hostingList{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    
}

.hosting{
    width: 250px;
    height: 150;
    background-color:white ;
    border-radius: 15px;
    margin: 10px;
    padding: 4px 4px 10px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
    box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
}

.hosting:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.8ms;
  }

figure.div-img-host{
    display: block;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    overflow:hidden;
}

.host-img{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 250px;
    height: 125px;
    object-fit: cover;
}

.hostingtext1{
    font-weight: 800;
    padding-left: 10px;
}

.hostingtext2{
    padding-left: 10px;
}

.fas{
    padding-left:10px;
    width:5px;
}

.hostingMarseille{
    margin-left: 25px;
}

.h4Afficherplus{
    margin-left: 25px;
}

/*Les plus populaires */
.headerHostingPopulaires{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
}

.block2HostingPopulairesMarseille{
    border-radius: 15px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    width: auto;
}

.linkHostingPopulaires{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
}

.headerHostingPopulaires{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-end;
    align-items: center;
}

.hostinPopulairesCard{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: 25px;
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
    -moz-box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
    box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
}

.hostinPopulairesCard:hover{
    transform: scale(1.02);
}

figure.imgHostingPopulaires{
    display: block;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin-block-start: 5px;
    margin-block-end: 5px;
    margin-inline-start: 5px;
    margin-inline-end: 1px;
    overflow:hidden;
}

.imgPop{
    height: 150px;
    width: 130px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
	object-fit: cover;
}

.infoCardPopulaires{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

/* Section responsive Hébergement */
@media screen and (max-width:1024px){
    .hostingSection{
        width:auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .gridOne{
        order: 2;
        grid-column: 1/6;
        grid-row: 2;
    }
    .gridTwo{
        order: 2;
        grid-column: 1/6;
        grid-row: 1;
    }
    .hostingList{
        width:365px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }
    .block1HostingMarseille{
        background-color:white;
    }
    .block2HostingPopulairesMarseille {
        border-radius: 0px;
    }
    .host-img{
        width: 306px;
    }
    .hosting{
        display:flex;
        width:auto;
        background-color:white ;
        border-radius: 15px;
        margin: auto;
        margin-bottom: 15px;
        padding: 4px 4px 10px;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
        -moz-box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
        box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
    }
}

/* Section responsive Hébergement */
@media screen and (max-width: 1024px) {
    .hostingSection{
        margin: auto;
        width:auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .gridOne{
        order: 2;
        grid-column: 1/6;
        grid-row: 2;
    }
    .gridTwo{
        order: 2;
        grid-column: 1/6;
        grid-row: 1;
    }
    .hostingMarseille{
        margin: auto;
        display: flex;
        flex-direction:row;
    }
    .hostingList{
        width:365px;
        display: flex;
        flex-direction: column;
    }
    .block1HostingMarseille{
        background-color:white;
        display:flex;
        align-items: center;
    }
    .block2HostingPopulairesMarseille {
        border-radius: 0px;
    }
    .hosting{
        width:310px;
    }
    .host-img{
        width: 306px;
    }
    .hosting{
        display:flex;
        width:auto;
        background-color:white ;
        border-radius: 15px;
        margin: auto;
        margin-bottom: 15px;
        padding: 4px 4px 10px;
        border-radius: 15px;
        -webkit-box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
        -moz-box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
        box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
    }
}

@media screen and (max-width:700px){
    .hostingSection{
        max-width: 375px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
    }
    .gridOne{
        order: 2;
        grid-column: 1/6;
        grid-row: 2;
    }
    .gridTwo{
        order: 2;
        grid-column: 1/6;
        grid-row: 1;
    }
    .hostingMarseille{
        margin: auto;
        display:flex;
        flex-direction:column;
    }
    .hostingList{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: auto;
    }
    .block1HostingMarseille{
        background-color:white;
        display:flex;
        align-items:flex-start;
        margin: auto;
    }
    .block2HostingPopulairesMarseille {
        border-radius: 0px;
    }
    .hosting{
        width:310px;
    }
    .host-img{
        width: 306px;
    }
}



/*Activites Marseille */
.wrapperActivitesMarseille{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6;
    grid-gap: 20px;
} 
.h2ActivitesMarseille{
    grid-column: 1;
}
.linkActivitesMarseille{
    color:black;
    text-decoration: none;
    border-radius:15px;
    box-shadow: 0px 0px 13px 0px rgba(168,168,168,1);
    max-width: 340px;
}
.linkActivitesMarseille:hover{
    transform: scale(1.02)
}

.imgActivitesMarseille{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 340px;
    height: 150px;
    object-fit: cover;
}

.image-haute{
    height: 390px;
}

.titreActivites{
    margin-left:15px;
}
.one {
    grid-column: 1;
    grid-row: 2/4;
  }
  .two {
    grid-column: 2;
    grid-row:   2;
  }
  .three {
    grid-column: 2;
    grid-row: 3;
  }
  .four {
    grid-column: 3;
    grid-row: 2/4;
  }
  .five {
    grid-column: 4;
    grid-row: 2;
  }
  .six {
    grid-column: 4;
    grid-row: 3;
  }
  img{
    object-fit: cover;
  }
@media screen and (max-width:1024px){
    .wrapperActivitesMarseille {
        max-width: 700px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2 / 1fr);
        grid-template-rows: 4;
        grid-gap: 20px;
    }
    .h2ActivitesMarseille{
        margin-left:0px;
        grid-column: 1;
        grid-row: 1;
    }
    .image-haute{
        max-height: 150px;
    }
    .one {
        grid-column: 1;
        grid-row: 2;
      }
    .two {
        grid-column: 1;
        grid-row: 3;
      }
    .three {
        grid-column: 1;
        grid-row: 4;
      }
    .four {
        grid-column: 2;
        grid-row: 2;
      }
    .five {
        grid-column: 2;
        grid-row: 3;
      }
    .six {
        grid-column: 2;
        grid-row: 4;
      }
  }
@media screen and (max-width:700px){
    .wrapperActivitesMarseille {
        max-width:375px;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
    .h2ActivitesMarseille{
        margin-left:0px;
        grid-column:1;
        grid-row:1;
    }
    .image-haute{
        max-height: 150px;
    }
  }




/* Footer */
.linkFooter{
  text-decoration: none;
  color: black;
}
.linkFooter:hover{
  cursor: pointer;
}
.contentFooter{
  display: flex;
  flex-direction: column;
}
ul{
  list-style-type: none;
}
li{
  margin-bottom: 15px;
}
footer{
    background-color: #F2F2F2;
}
.container-footer{
    max-width:1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.firstsectionFooter{
    max-width:1440px;
    margin: auto;
    grid-column: 1;
}
.secondsectionFooter{
  grid-column: 2;
}
.thirdsectionFooter{
  grid-column: 3;
}
.h4Footer{
  margin-left: 40px;
}

@media screen and (max-width:1024px){
    .container-footer{
        max-width: 700px;
    }
}

@media screen and (max-width:700px){
    .container-footer{
        max-width:375px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }
}